@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/GilroyBold.woff2') format('woff2'),
		url('../fonts/GilroyBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/GilroyRegular.woff2') format('woff2'),
		url('../fonts/GilroyRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/GilroyLight.woff2') format('woff2'),
		url('../fonts/GilroyLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

html, body {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.7rem;
  padding: 0;
  margin: 0;
  background-color: var(--bacbackground-color);
  color: var(--white);
  transition: background 0.5s ease;
}

a {
  text-decoration: none;
}

h1,.h1{
  font-size: 8rem;
  font-weight: 400;
  line-height: 8.8rem;
}

h2{
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 8rem;
  color: var(--text-main);
}

h3{
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6.4rem;
  color: var(--text-main);
}

p{
  font-size: 1.7rem;
  font-weight: 400px;
  line-height: 2.4rem;
  color: var(--text-main);
}