:root {
    --bacbackground-color: #000026;

    --text-main: #FFFFFF;
    --text-secondary: #AFB2D4;
    --text-single: #6F7291;
    --text-btn: #AFB2D3;

    --btn-primary: #425FFA;
    --btn-secondary: #ffffff0f;
    --btn-primary-hover: #425eface;
    --btn-secondary-hover: #afb2d400;
  
    --white: #FFFFFF;
}
